/target/
**/*.rs.bk
.idea/
.vscode/Trellis Instructions

.ace-tool/
.cursor
.agents
.claude
.codex
.pi
.trellis
.trellis/*
.trellis/workspace/File_Manager/index.md
.trellis/workspace/File_Manager/journal-1.md
